body {
	color:#494949;
}

h1 {
	font-family: 'Leckerli One', cursive;
	font-size: 40px;
}

p {
	font-family: 'News Cycle', sans-serif;
	text-align:left;
	width: 650px; 
	margin: 0 auto;
}

img {
	border: solid 3px white;
	margin-bottom: 25px;
	padding-bottom: -50px;
}

a { 
	color:#22474F;
	text-decoration: none;
}

a:visited {
	color: #8F998C;
}

#left {
float: left;
clear:both;
padding: 50px 10px 0px 50px;
}

#right {
	clear:both;
	position: absolute;
	left:420px;
	top:120px;
}