body {
	margin: auto 0;
	text-align: center;
	font-family: Helvetica , sans-serif;
}

header {
	height: 300px;
	background-image: url(image/coffee_beans.jpg);
	background-size: cover;
}

h1 {
	line-height: 80%;
	margin: 0px;
}

h2 {
	font-size: 130%;
	color: #372014;
}

p {
	color: #230b03;
}

nav {
	height:25px;
	background-color: #230b03;
	clear:both;
	position: relative;
}

nav ul {
	width: 33%;
	margin: 0 auto;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 3px 15px 0px 0px;
} 

a {
	font-family: Georgia, serif;
	text-decoration: none;
	color: #af7c54;
}

section {
	padding-top: 25px;
	padding-bottom: 300px;
}

section p {
	font-size: 13px;
	width: 70%;
	margin: 0 auto;
	font-family: Georgia, serif;
}

footer {
	height: 75px;
	background-color: #230b03;
	clear:both;
}

footer p {
	color: #af7c54;
	font-family: Georgia, serif;
	font-size: 90%;
	position:relative;
	top: 25%;
}

#beans img {
	height:225px;
}

#left {
	width:50%;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	float:left;
}

#right {
	width:50%;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	float:right;
}
