body {
	width: 80%;
	font-family: sans-serif;
	font-size: 80%;
	margin-left: 3%;
	margin-right: 3%;
}

header {
	clear: both;
}

nav {
	float:right;
	line-height: 160%;
}

nav li {
	display: inline-block;
	text-align:justify;
	padding-right: 25px;
	float:left;
	font-weight: bold;
	margin-top: .5%
}

h1 {
font-family: 'league_gothicregular', sans-serif;
text-transform: uppercase;
font-size: 500%;
margin: 5px 0px 5px 0px;
}

h3 {
font-family: 'league_gothicregular', sans-serif;
text-transform: uppercase; 
font-size: 200%;
line-height: 10%;
}

aside {
	float:left;
	font-size: 95%;
	font-weight: bold;
	width:20%;
	height:100%;
	padding-top: 2%;
}

aside p {
	width: 75%;
	margin-top:5px;
}

footer {
border-top: 1px black solid;
clear:both;
font-weight: bold;
margin-top: 50%;
}

footer p { 
	margin-top: 1%;
}

.bodysmall {
	font-size: 80%;
	font-weight: bold;
	line-height: .5%;
}

#articles {
	width:80%;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	float:right;
	height:100%;
	margin-top: 1.5%;
}

#articles p {
	width: 100%;
}

#rule {
	border-bottom: 1px solid black;
	clear:both; 
}

#lower {
	margin-top: 5%;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('type/leaguegothic-regular-webfont-webfont.eot');
    src: url('type/leaguegothic-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-regular-webfont-webfont.woff') format('woff'),
         url('type/leaguegothic-regular-webfont-webfont.ttf') format('truetype'),
         url('type/leaguegothic-regular-webfont-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}