body {
font-family: sans-serif;
background-color:white;
font-size: 12px;
}

header {
}

nav {
	float:right;
	line-height: 18px;
	border-bottom: 1px black solid;
}

nav li {
	display: inline-block;
	text-align:justify;
	padding-right: 25px;
	float:left;
	font-weight: bold;
}

h1 {
font-family: 'league_gothicregular', sans-serif;
text-transform: uppercase;
font-size: 55px;
border: 1px red solid;
}

h3{
font-family: 'league_gothicregular', sans-serif;
text-transform: uppercase; 
font-size: 25px;
line-height: 140%;
}

aside {
	float:left;
	font-size: 12px;
	font-weight: bold;
	width:30%;
	height:100%;
}

footer {
border-top: 1px black solid;
clear:both;
}

.bodysmall {
	font-size: 11px;
	font-weight: bold;
}

#articles {
	width:70%;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	float:right;
}